nextflow/bin/vcf2fasta
nextflow/data/kraken/
./.git
V1_analysis/
nextflow/Raw_Reads/
nextflow/work/
nextflow/output/
nextflow/.nextflow*
nextflow/.nextflow/
nextflow/.DS_Store
isolate_fasta_update/
machine_learning/*.txt
Raw_Reads_Guy/
nextflow/test_output/
nextflow/427_testing/Tricky_orthos/
nextflow/427_testing/Con_sequences/
nextflow/427_testing/427_Orthologs/
nextflow/isolate_fasta_testing/NCBI_testing/
nextflow/isolate_fasta_testing/Gabby/
nextflow/isolate_fasta_testing/SR_testing/*syn_reads_*
nextflow/isolate_fasta_testing/SR_testing/isolate_competency.csv
nextflow/isolate_fasta_testing/SR_testing/OG_isolate_fas/
nextflow/isolate_fasta_testing/SR_testing/csvs/*.png
nextflow/isolate_fasta_testing/SR_testing/csvs/*.csv
nextflow/Synthetic_reads_outputs/
nextflow/Good_ncbi_output/
nextflow/output_1
nextflow/dag*
nextflow/Gabby_output/
nextflow/ncbi_tree/
synthetic_reads/
VB_syn_reads/
OG_raw_reads/
syn_reads/
